#__plugin-vivid {
  position: relative;
  z-index: 10000;
  font-size: 16px;
}

/* common */
#__plugin-vivid .hidden {
  display: none;
}
#__plugin-vivid ul, #__plugin-vivid li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#__plugin-vivid p {
  margin: 18px 0 !important;
  font-size: 16px !important;
}
#__plugin-vivid a {
  text-decoration: none;
  cursor: pointer;
  color: #91989F;
}
#__plugin-vivid .color-info {
  color: rgb(3, 155, 229);
}
#__plugin-vivid .text-right {
  text-align: right;
}

/* app */
#__plugin-vivid .__vivid-result {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 800px;
  max-height: 500px;
  overflow: auto;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
#__plugin-vivid .__vivid-result::-webkit-scrollbar {
  width: 5px;
  background: #fff;
}
#__plugin-vivid .__vivid-result::-webkit-scrollbar-thumb {
  background: rgb(2, 71, 105);
  border-radius: 2px;
}

/* word */
#__plugin-vivid .__vivid-word {
}
#__plugin-vivid .word-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -18px;
}
#__plugin-vivid .word {
  font-weight: bold;
}
#__plugin-vivid .sound {
  display: flex;
}
#__plugin-vivid .sound p+p {
  margin-left: 20px !important;
}
#__plugin-vivid .collins li {
  margin: 18px 0;
}
#__plugin-vivid .toggle {
  cursor: pointer;
}

/*
image
https://zhuanlan.zhihu.com/p/21974139
*/
#__plugin-vivid .__vivid-image {

}
#__plugin-vivid .imagelist {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}
#__plugin-vivid .imagelist::after {
  content: '';
  flex-grow: 999999999;
}
#__plugin-vivid .imageitem {
  margin: 4px;
  /* background-color: violet; */
  position: relative;
  border-radius: 2px;
  border: none;
}
#__plugin-vivid .imageitem i{
  display: block;
}
#__plugin-vivid .imageitem img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
  border: 1px solid #333;
}
